{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <h2 class="text-center">Ver Mensaje</h2>
                    <hr>
        
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form | crispy }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}