{% load static %}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoutiqueUGB Admin</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'app/css/estilo_base.css' %}">
    <link href="{% static 'app/img/logo.png'%}" rel="icon">
    
</head>
<body>

    
    <header class="header">
        <div class="logo">
            <img  src="{% static 'app/img/render_navbar.png'%}" alt="Logo de la marca">
        </div>
        <nav>
           <ul class="nav-links">
            <li>
                <a href="{% url 'administrador' %}">Home</a>
            </li>
            
            {% if perms.app.view_producto %}
            <li>
                <a href="{% url 'listar' %}"> LISTAR </a>
            </li>
            {% endif %}

            {% if perms.app.add_producto %}
            <li>
                <a href="{% url 'agregar' %}">AGREGAR</a>
            </li>
            {% endif %}
            {% if perms.app.add_marca %}
            <li>
                <a href="{% url 'marca' %}">Agregar Marca</a>
            </li>
            {% endif %}
            {% if perms.app.view_contacto %}
            <li>
                <a href="{% url 'list_mensaje' %}">Mensajes</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
            <li >
                <a href="{% url 'logout' %}">Salir</a>
            </li>
            {% endif %}
           </ul>            
        </nav>
        <a class="btn" href="{% url 'home' %}"><button>Pagina Productos</button></a>
    </header>

    <div id="contenido" >
        {% if user.is_authenticated %}
        <div style="color: #000;">

            <h3 color >Usuario: @{{user.username}}</h3>

        </div>
                
        
            
        
        {% endif %}

        

      {% block contenido %}
      
  

      {% endblock %}
       
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}

        {% for m in messages %}

            <script>
                swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>

        {% endfor %}

    {% endif %}

    {% block js %}

    {% endblock %}

</body>
</html>